
.footer {
    background-color: #fafafa;
    
}
footer section.f1{
    display: flex;
    flex-direction: column;
    padding: 2rem 1.5rem;
    margin-right: auto;
    margin-left: auto;
    max-width: 1180px;

}

footer section.f1 ul{
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

section.f1 ul h4{
    color: #535661;
    font-size: 15px;
    margin: 23px 0;
}

footer section.f1 ul li{
    color: #535661;
    font-weight: normal;
    margin: 20px 0;
    font-size: 1rem;
    cursor: pointer;
}

section.f1 ul li a{
    position: relative;
}
section.f1 ul li a:hover{
    color: #000;
}

section.f1 ul li a:after{
    content: "";
    position: absolute;
    background-color: #000;
    height: 1.5px;
    border-radius: 10px;
    width: 0;
    left: 0;
    bottom: -4px;
    transition: .3s;
}
section.f1 ul li a:hover:after{
    color: #000;
    width: 100%;
}

footer section.f1 ul li a{
    text-decoration: none;
    color: #535661;
}
footer section.f1 ul li i{
    font-size: 1.2rem;
    margin-right: 10px;
    color: #000;
}
footer section.f1 ul li a i span{
    margin-left: 5px;
}


footer section.f2{
    display: flex;
}


footer section.f2{
    width: 100%;
    border-top: 2px solid #e9e9ee;
    border-bottom: 2px solid #e9e9ee;
    padding: 1.5rem 0;
    font-size: 15px;
}

div.box2 {
    margin-left: 1.5rem;
}

div.box2 ul li{
    list-style: none;
    cursor: pointer;
}

div.box2 img{
    width: 125px;
}

div.box2 ul.list3{
    display: flex;
    flex-wrap: wrap;
}

div.box2 ul.list3 li{
    list-style: none;
    color: #535661;
    margin-left: 14px;
    margin-right: 18px;
    font-size: 13.5px;
}

footer section.f3{
    padding: 2rem 1.5rem;
    margin-right: auto;
    margin-left: auto;
    max-width: 1180px;
}

section.f3 div.payment{
    margin-right: auto;
    margin-left: auto;
}
    div.payment ul {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 0;
        margin-bottom: 0;
    }
    div.payment ul li{
        list-style: none;
        margin-right: 1rem;
    }
    div.payment ul li img{
        height: 28px;
        border-radius: 4px;
    }

section.f3 div.apps{
    padding: 1rem;
    display: flex;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 0;
}
    div.apps ul{
        display: flex;
        margin-left: 20px;
        flex-wrap: wrap;
        padding-left: 0;
    }
    div.apps ul li{
        list-style: none;
        margin-bottom: 1rem;
    }

section.f3 div.apps img{
    max-height: 2.4rem;
    border-radius: 8px;
    /* border: 2px solid rgb(190, 189, 189); */
    cursor: pointer;
}

div.reserved {
    display: flex;
    justify-content: center;
}
.reservedSpan{
    font-size: 12px;
    color: #9695A8;
    margin: auto;
    text-align: center;
}

@media (min-width: 771px){
    footer section.f1 {
        flex-direction: row;
    }
    footer section.f1 ul {
        margin-right: 50px;
    }
}

@media (min-width: 380px){

    div.apps ul li {
    margin: 1rem;
}
}

@media (min-width: 1024px){
    footer section.f1 ul {
        margin-right: 100px;
}
}